#aboutMe{
    position: relative;
    cursor: pointer;

}
.canvasDiv{
    position:absolute;
    top: 0;
    left: 0;
   
}

#canvas1{
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    
}
