// This is the styling for the 4 link items which is the main navigation of the page


// display flex to have the items diplay next to each other 
// set justify content to space evenly and will change to space-between in a media query
.features{
    max-width: 608px;
    margin: 0 auto;
}
.featureItems{
    // border:1px solid tomato;
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;  
    cursor: pointer;
}

// using custom porperties for type fluidity  styling the links in the feature items  
.featureItem{
    font-size: var(--step--1);
    padding: .3em .3em;
    font-weight: var(--fw-bold);
    &:hover,
    &:focus{
       border: 1px soild transparent;
       background-color: #244e63;
       opacity: .9;
       color: var(--clr-dark);
    }
}

// manupulating classes on load and on click using some JS
.borderStroke,
.redbottomStroke{
    border-bottom:3px solid transparent;
    border-bottom-color:tomato;
    padding: .5em .5em;
}

.aboutMeDiv{
    text-align: center;
}


// This is the section that changes based on the user click as the user moves from link to link

#whatIdo{
    text-align: center;
}

#whatIdo p + h3{
    margin-top: 1em;
}

section{
    max-width: 600px;
    display:flex;
    justify-content:center;
    align-items: center;  
    min-height: 300px; 
    padding: 2em .8em;
    overflow: hidden;
    &:hover{
        background-color: #1d3a49;
    }
}

@media screen and (min-width:600px){
    .featureItem {
            padding: .4em .8em;
    }
}
.aboutMe{
    position: relative;
    
}

  @keyframes blinking {
      0% {
          background-color:var(--clr-lynn);
          border: .5px solid var(--clr-lynn);
      }

      50% {
          background-color: #fff;
          border: .5px solid var(--clr-lynn);
      }

      100% {
          background-color: var(--clr-lynn);
          border: .5px solid var(--clr-lynn);
      }
  }

  #blink {
    position: absolute;
    top: 200px;
    left: 500px;
      width: 3.5px;
      height: 3.5px;
      border-radius: 50%;
      animation: blinking 1s infinite;
  }