form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 100%;
    border-radius: .5em;
    font-family: var(--ff-primary);
    font-size: var(--step-0);
}
// unorderlist inside the form element
ul {
    list-style: none;
    padding: 0 .5em;
    margin: 0;
}

// If there is an li 

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font-family: var(--ff-primary);
    font-size: var(--step-0);

    /* Uniform text field size */
    width:100%;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus{
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}
li::marker {
    content:"";
    list-style: none;
    /* ... */
}


button {
    /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
    // margin-left: 0.5em;
    font-family: var(--ff-primary);
    font-size: var(--step-0);
    padding:.4em .5em;
    border-radius: 2em;
    border: 0;
    box-shadow: 1px 1px 11px -2px #000000;
    transition: all 0.2s ease-in-out;
    &:hover {
            cursor: pointer;
            opacity: .95;
            background-color: var(--clr-lynn);
            box-shadow: 0 2px 15px rgba(255, 254, 254, 0.938);
            color: var(--clr-custom);
        }
    &:focus{
        border:2px solid tomato;
    }
}


// medial queries for the form

@media screen and (min-width:600px) {
    .formList{
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    button{
        display: inline-block;
        align-self: center;
    }
}