
.carousel{
    position: relative;
    height:750px;
    width: 80%;
    margin: 0 auto;
}
.carousel__image{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit:contain;
}
.carousel__track-container{
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel__track{
    height: 100%;
    position: relative;
    transition: transform 250ms ease-in ;

}
.carousel__slide{
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel__button{
    color: aliceblue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}
.carousel__button--left{
    left: -40px;
}
.carousel__button--right{
    right: -40px;
   
}
.carousel__nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;

}
.carousel__indicator{
    border: 0;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: rgba(0, 0, 0, .3);
    margin:0 10px;
    cursor: pointer;

}
.carousel__indicator.current-slide{
    background: rgba(0, 0, 0, .95);
}
.is-hidden{
    display: none;
}

.projectDesc{
    
   text-align: center;
    margin:1em 0;

    h4, h5{
        margin-bottom: .3em;
    }
    
}

.projectButtons{
    display: flex;
    justify-content: center;
}
.projectButtons a button {
    margin-right: .5em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #D3CFE6;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover, &:focus{
    border:1px solid white;
  }
}