:root {
     --clr-custom: hsl(14, 100%, 80%);
}

.skillContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        margin-bottom: .8em;
    }
}
@layer base {
    .skill-card{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@layer card {
    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

    }

    .card {
        --border-width: 4px;
        --bg: hsl(0 0% 10%);
        /* --alpha:calc(var(--active, 0) * 0.15); */
        width:calc(100% / 2 - 1rem);
        aspect-ratio: 4/3;
        color: hsl(0, 0%, 100%);
        font-weight: bold;
        font-family: sans-serif;
        position: relative;
        background: var(--bg);
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .card:is(:hover, :focus-within) {
        --active: 1;
    }

    .card::after,
    .card::before {
        --alpha:1;
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
    }

    .card::after {
        --alpha: 0.15;
        opacity: var(--active, 0);
        transition: opacity .2s;
    }

    .card::before {
        // --alpha: 0.5;
        mask:
            linear-gradient(#ffb199, #ffb199) 50% 0 / 100% var(--border-width),
            linear-gradient(#ffb199, #ffb199) 100% 0 / var(--border-width) 100%,
            linear-gradient(#ffb199, #ffb199) 50% 100% / 100% var(--border-width),
            linear-gradient(#ffb199, #ffb199) 0 0 / var(--border-width) 100%;
        mask-repeat: no-repeat;

    }

    .card::after,
    .card::before {
        background: radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
                hsl(14 100% 80% / var(--alpha)),
                transparent 150px);

        background-attachment: fixed;

    }

    .card span {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card span i {
        font-size: 3rem;
    }
}
@media (min-width:600px) {
   

    .card {
     
        width:calc(100% / 3 - 1rem);

    }

}

