.aboutMe{
    padding: 0;

}
.canvasDiv{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}

#canvas1{
    border:1px solid tomato;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}