.featureItems{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;  
    cursor: pointer;
}
.featureItem{
    // border: 2px solid yellow;
    padding: .5em .8em;
    font-weight: var(--fw-bold);
    &:hover{
       border: 1px soild transparent;
       background-color: #1d3a49;
       opacity: .9;
       color: var(--clr-dark);
    }
}
.borderStroke,
.redbottomStroke{
    border-bottom:3px solid transparent;
    border-bottom-color:tomato;
    padding: .5em .5em;
}

section{
    // border:2px solid tomato;
    margin-bottom: 5em;
    display:flex;
    justify-content:center;
    align-items: center;  
    min-width: 600px; 
    padding: 2em 3em;
    &:hover{
        background-color: #1d3a49;
    }
}