// MAIN HEADER CONTENT STYLING

// added a margin to push all the content down
.headerContent{
    margin-top: 5em;
    max-width: 724px;
}

// TO DO
// Still working on this section of the page as I am not sure at this time, the gaol is to have something interesting 
.heroImg{
    border: 2px solid black;
    position: relative;
    height: 30vmin;
    background-color: var(--clr-light);
}

// This is my image and still need to be worked as the image is not squared
// Added a responsive border, width and height to max of 960px.
.mainImg{
    width:var(--step-4);
    height: var(--step-4);
    border-radius: 9999px;
    border:var(--imageBorder-0) solid white;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    left: 8%;
}

// using custom properties for fluid typography so the text scales dynamically
.headerText{
    margin-top: 3em;
    h1{
        font-size: var(--step-3);
    }
}

// Animation of the hand waving, I am not sure if I am ready to use this at this time, this is from an online-resource.


// ********************************************************

                .wave {
                    animation-name: wave-animation;
                    /* Refers to the name of your @keyframes element below */
                    animation-duration: 2.5s;
                    /* Change to speed up or slow down */
                    animation-iteration-count: infinite;
                    /* Never stop waving :) */
                    transform-origin: 70% 70%;
                    /* Pivot around the bottom-left palm */
                    display: inline-block;
                }
        
                @keyframes wave-animation {
                    0% {
                        transform: rotate(0.0deg)
                    }
        
                    10% {
                        transform: rotate(14.0deg)
                    }
        
                    /* The following five values can be played with to make the waving more or less extreme */
                    20% {
                        transform: rotate(-8.0deg)
                    }
        
                    30% {
                        transform: rotate(14.0deg)
                    }
        
                    40% {
                        transform: rotate(-4.0deg)
                    }
        
                    50% {
                        transform: rotate(10.0deg)
                    }
        
                    60% {
                        transform: rotate(0.0deg)
                    }
        
                    /* Reset for the last half to pause */
                    100% {
                        transform: rotate(0.0deg)
                    }
                }